<% content_for :head do %>
  <%= javascript_include_tag 'datatable' %>
<% end %>

<%= render 'risk_summaries/risk_summary_link' %>

<h1>Projects</h1>

<table id="data-enhanced" class="display">
 <thead>
  <tr>
    <th>Dept</th>
    <th>Name</th>
    <th>Sponsor</th>
    <th>PM</th>
    <th>Project Type</th>
    <th>Activity</th>
    <th>In EPM?</th>
    <th>Actions</th>
  </tr>
 </thead>
<tbody>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.department.name %></td>
    <td>
      <%= project.name %>  
      <% if project.in_epm? %>
      <%= link_to 'link', project.epm_url, :class => 'external-link' %>
      <% end %>
    </td>
    <td><%= project.sponsor.initials unless project.sponsor.nil? %></td>
    <td><%= project.pm.initials unless project.pm.nil? %></td>
    <td><%= project.project_type %></td>
    <td><%= project.activity.name %></td>
    <td><%= project.in_epm? %></td>
    <td>
        <%= link_to 'Status Reports', project_status_reports_url(project) %>
        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
