<% content_for :head do %>
  <%= javascript_include_tag 'datatable' %>
<% end %>
<h1>Project Activity</h1>
<p>
    Reports the current activity taking place on a given project, use these to indicate that work is currently 
    taking place, the project is on hold, cancelled and so on. These should make sense to the sponsors.
</p>
<table id="data-enhanced" class="display">
 <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Closed?</th>
    <th>Actions</th>
  </tr>
 </thead>
<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= activity.description %></td>
    <td><%= activity.closed %></td>
    <td>
      <%= link_to 'Show', activity %>
      <%= link_to 'Edit', edit_activity_path(activity) %>
      <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
